body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color:white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: #445964;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    margin: 10px
}

nav a {
    color: #445964;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 0px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
    min-height: 80vh;
    background-color: #3A4D54;
}

.hero-texto {
    max-width: 500px;
}

.hero-imagem {
    width: 450px;
    height: auto;
    border-radius: 20%;
}

.hero-intro {
    color: #50D6BB;
}

.hero-nome-intro {
    color: white;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
}

.hero-nome {
    color:#298F88;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
}

.hero-descricao {
    color: #8EB6CC;
}

.secao-titulo {
    color: #243842;
}

#sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 40px;
    background-color: #F6F8F8;
    gap: 40px;
}

.sobre-texto {
    flex: 1;
    text-align: justify;
}

.sobre-cards {
    flex: 1;
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    padding: 0px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 10px 0px 10px 0px;
}

.card-conteudo {

}

.card-titulo {
    margin: 10px 0px;
}

.card-descricao {
    margin: 0px 0px 10px 0px;
}

.card-imagem {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    object-fit: cover;
    background-color: #F6F8F8;
    padding: 5px;
}
